/*Animation CSS*/

@keyframes bounceIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/*====================================================================================
======================================================================================
======================================================================================*/

/*Universal CSS*/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Rajdhani', sans-serif;
  color: #ffffff;
  font-size: 14pt
}

html {
  background-color: #023d6ef3;
  background-image: linear-gradient(to bottom left, #050553bb, rgba(0, 59, 110, 0.945));
}

.landerNav {
  font-size: 130%;
}

.landerNav:hover {
  color: rgb(48, 184, 241);
  background-color: #ffffff00
}

.landerLogin {
  color: #ffffff; 
  line-height: 15%
}

.landerLogin:hover {
  color: rgb(48, 184, 241);
}

.landerButton {
  margin-bottom: 4%
}

.landerPage {
  position: relative;
  min-height: 85vh;
}

.guides {
  position: relative;
  min-height: 85vh;
}

.guideCS {
  text-align: center;
  margin-top: 15%;
}

.guideCard {
  animation-name: bounceIn;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
  animation-fill-mode: both;
}

.about {
  position: relative;
  min-height: 85vh;
}

.aboutContent {
  text-align: center;
  background-color: rgba(49, 48, 70, 0.548)
}

.aboutIcons {
  line-height: 0;
  margin-bottom: 0
}

.tabs {
  background-color: #ffffff00;
}

.tabs .tab a {
  color: #ffffff
}

.tabs .tab a:hover {
  color: rgb(48, 184, 241)
}

.tabs .tab a.active {
  color: #ffffff;
}

.tabs .indicator {
  background-color: #ffffff
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(31, 123, 162, 0.075)
}

.card,
.card-content,
.card-action {
  background-color: rgba(53, 53, 53, 0.247)
}

.card-action {
  text-align: center
}

.card-content p {
  text-align: center;
}

.card-content {
  height: 150px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffffff;
  text-align: center
}

.eventPageTitle {
  text-align: center;
  margin-top: 2%
}

.eventButton {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgba(34, 34, 34, 0.527);
  background-image: none;
  border-color: #ffffff;
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1em 1.5em;
  text-shadow: none;
  font-size: 10pt;
}

.eventButton:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-color: rgb(48, 184, 241);
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgb(48, 184, 241);
}

#eventsResults {
  overflow-y: scroll;
  overflow-x: scroll
}


.searchField {
  text-align: center;
  background-color: rgba(53, 53, 53, 0.247);
  padding-top: 2%;
}

.searchLabel {
  color: #ffffff
}

.searchBar {
  color: #ffffff !important
}

.eventTitle {
  text-align: center
}

button {
  border-style: none;
  cursor: pointer;
}

button:focus {
  background-color: rgba(34, 34, 34, 0.527);
  border-image: linear-gradient(to right, rgb(48, 184, 241), rgb(48, 184, 241));
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgb(48, 184, 241);
}

.input-field .prefix.active {
  color: rgb(48, 184, 241)
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.65;
  position: fixed;
}

.button {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgba(34, 34, 34, 0.774);
  background-image: none;
  border-image: linear-gradient(to right, #ffffff, #ffffff);
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 0.75;
  padding: 1em 1em;
  text-shadow: none;
}

.button:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-image: linear-gradient(to right, rgb(48, 184, 241), rgb(48, 184, 241));
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgb(48, 184, 241);
}

.landerButton {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  background-color: rgba(34, 34, 34, 0.774);
  background-image: none;
  border-image: linear-gradient(to right, #ffffff, #ffffff);
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 0.75;
  padding: 1em 1em;
  text-shadow: none;
}

.landerButton:hover {
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-image: linear-gradient(to right, rgb(48, 184, 241), rgb(48, 184, 241));
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgb(48, 184, 241);
}

.guideButton {
  -webkit-transition: all 300ms ease-in-out !important;
  -moz-transition: all 300ms ease-in-out !important;
  -o-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important;
  background-color: rgba(34, 34, 34, 0.466);
  background-image: none;
  border-color:#ffffff;
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: #ffffff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 0.75;
  padding: 1em 1em;
  text-shadow: none;
}

.guideButton:hover {
  -webkit-transition: all 300ms ease-in-out !important;
  -moz-transition: all 300ms ease-in-out !important;
  -o-transition: all 300ms ease-in-out !important;
  transition: all 300ms ease-in-out !important;
  border-color: rgb(48, 184, 241);
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color: rgb(48, 184, 241) !important;
}

nav {
  background-color: #ffffff00;
  box-shadow: none;
}

.input-field>label {
  color: white;
}

input[type=email]:not(.browser-default) {
  border-bottom: 1px solid white;
}

input[type=email]:focus + label {
  color: rgb(48, 184, 241) !important;
}

input[type=email]:focus {
  color: rgb(48, 184, 241) !important;
}

input[type=email]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
}

input.valid[type=email]:not(.browser-default) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
  color: rgb(48, 184, 241);
}

input.invalid[type=email]:not(.browser-default) {
  color: #F44336;
}

input[type=password]:not(.browser-default) {
  border-bottom: 1px solid white;
}

input[type=password]:focus + label {
  color: rgb(48, 184, 241) !important;
}

input[type=password]:focus {
  color: rgb(48, 184, 241) !important;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
}

input.valid[type=password]:not(.browser-default) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
  color: rgb(48, 184, 241);
}

input.invalid[type=password]:not(.browser-default) {
  color: #F44336;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
}

input[type=text]:focus + label {
  color: rgb(48, 184, 241) !important;
}

input[type=text]:focus {
  color: rgb(48, 184, 241) !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid rgb(48, 184, 241);
  box-shadow: 0 1px 0 0 rgb(48, 184, 241);
  color: rgb(48, 184, 241);
}


/*====================================================================================
======================================================================================
======================================================================================*/


/* Screen Size Specific CSS */
/*------------------------------------------------------------------------------------*/
/* smartphones */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .landerMenu h3 {
    text-align: center;
  }

  .wallpaper {
    background-image: url("./images/wallpaper.jpg");
  }

  .button {
    width: 43% !important;
  }

  .landerContent {
    text-align: center;
  }

  .landerMenu {
    margin-top: 23%;
    text-align: center;
  }

  .loginMenu {
    margin-top: 23%;
    text-align: center;
  }

  .landerDiv {
    margin-top: 65%;
  }

  .loginDiv {
    margin-top: 40%;
  }

  .signupMenu {
    margin-top: 15%;
    text-align: center;
  }

  .signupDiv {
    margin-top: 15%;
  }

  .button {
    margin-top: 6%;
    width: 90%;
    font-size: 100%;
  }

  .logoLander {
    width: 80%;
  }
}

/*weird screen sizes between phone and tablet*/
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .landerMenu h3 {
    text-align: center;
  }

  .wallpaper {
    background-image: url("./images/wallpaper.jpg");
  }

  .button {
    width: 33% !important;
  }

  .landerContent {
    text-align: center;
  }

  .landerMenu {
    margin-top: 23%;
    text-align: center;
  }

  .loginMenu {
    margin-top: 5%;
    text-align: center;
  }

  .landerDiv {
    margin-top: 20%;
  }

  .loginDiv {
    margin-top: 20%;
  }

  .signupMenu {
    margin-top: 3%;
    text-align: center;
  }

  .signupDiv {
    margin-top: 10%;
  }

  .button {
    margin-top: 6%;
    width: 90%;
    font-size: 100%;
  }

  .logoLander {
    width: 80%;
  }
}

/* tablets */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  .wallpaper {
    background-image: url("./images/wallpaper.jpg");
  }

  .button {
    width: 27% !important;
  }

  .landerContent {
    text-align: center;
  }

  .landerMenu {
    margin-top: 13%;
    text-align: center;
  }

  .loginMenu {
    margin-top: 5%;
    text-align: center;
  }

  .landerDiv {
    margin-top: 20%;
  }

  .loginDiv {
    margin-top: 20%;
  }

  .signupMenu {
    margin-top: 5%;
    text-align: left;
  }

  .signupDiv {
    margin-top: 5%;
  }

  .button {
    margin-top: 6%;
    width: 50%;
    font-size: 100%;
  }

  .logoLander {
    width: 80%;
  }
}

/* laptop and larger */
@media only screen and (min-width : 1025px) {
  .wallpaper {
    background-image: url("./images/wallpaper.jpg");
  }

  .button {
    width: 20% !important;
  }

  .card {
    margin-top: 5%;
  }

  .cardImg {
    height: 350px;
  }

  .cardImgEvent {
    height: 250px;
  }

  .aboutContent {
    margin-top: 3%
  }

  .aboutImg {
    height: 400px;
  }

  .aboutButton {
    margin-bottom: 2%
  }

  .brand-logo {
    margin-left: 5%
  }

  .landerContent {
    text-align: center;
  }

  .landerMenu {
    margin-top: 6%;
    text-align: center;
  }

  .loginMenu {
    margin-top: 5%;
    text-align: center;
  }

  .landerDiv {
    margin-top: 20%;
  }

  .loginDiv {
    margin-top: 20%;
  }

  .signupMenu {
    margin-top: 5%;
    text-align: center;
  }

  .signupDiv {
    margin-top: 5%;
  }

  .button {
    margin-top: 1%;
    width: 30%;
    font-size: 100%;
  }

  .logoLander {
    width: 50%;
  }
}